.fixedButton {
    position: fixed;
    bottom: 16px;
    right: 16px;
}

.label {
    margin-top: 16px;
}

.textField {
    display: block;
}

.actionButtons {
    display: flex;
    justify-content: space-around;
}

.selectField {
    margin-top: -8px;
}
