.root {
    max-width: 800px;
    width: 100%;
    padding: 0 16px;
    margin: 0 auto 20px;
}

.noResults {
    padding-top: 150px;
    background: url('../../public/static/images/sad-smiley.svg') 50% 0 no-repeat;
    background-size: 150px auto;
    text-align: center;
    margin: 48px auto 0;
}

.searchQuery {
    font-weight: bold;
}
