.root {
    display: flex;
    flex: 0 1 400px;
    padding-left: 16px;
}

.searchBlock {
    display: flex;
    flex: 1 1 auto;
    background-color: #80DEEA;
    padding-left: 16px;
    margin-right: 8px;
}
